.tutorial {
    text-align: center;
    padding: 3%;
    width:600px;
    margin: 0 auto;
}

.paragraph {
    text-align: justify;
    text-justify: inter-word;
}

img {
    width: 600px;
}