.float {
  position: absolute;
  bottom: 10%;
  right: 2%;
  border-radius: 5px;
  width: 200px;
  height: 40px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

/* Chrome, Safari, AND NOW ALSO the Edge Browser and Firefox */
@media screen and (-webkit-min-device-pixel-ratio:0) {
  .float {
    bottom: 20%;
    right: 4%;
  }
}

.float  img {
  height: 25px;
  width: 25px;
}

.float > * {
  animation: bounce 1s infinite alternate;
  -webkit-animation: bounce 1s infinite alternate;
  
}

.float > :nth-child(1){
    animation-delay: 0s;
    -webkit-animation-delay: 0s    
}
.float > :nth-child(2){
    animation-delay: 0.2s;
    -webkit-animation-delay: 0.2s
}
.float > :nth-child(3){
    animation-delay: 0.4s;
    -webkit-animation-delay: 0.4s
}
.float > :nth-child(4){
    animation-delay: 0.6s;
    -webkit-animation-delay: 0.6s
}

@keyframes bounce {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(-15px);
  }
}
@-webkit-keyframes bounce {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(-15px);
  }
}

.float :hover{
    -webkit-animation-play-state: paused;
    -moz-animation-play-state: paused;
    -o-animation-play-state: paused;
     animation-play-state: paused;
}

@media screen and (max-width: 760px) {
  .float {
    position: absolute;
    bottom: -6em;
    right: 0px;
    left:0px;
    margin: 0px auto;   
  }
}
