/*
::-webkit-scrollbar { 
    display: none; 
}

.address-box-table {
    -ms-overflow-style: none;
    overflow: -moz-scrollbars-none;
}
*/
.box {
  height: 280px;
  width: 100%;
  margin-top: 7%;
  text-align: left;
}

.add-new {
  width: 100%;
}

form {
  width: 100%;
  text-align: left;
}

.add-btn {
  width: 13%;
  height: 35px;
  background-color: #3898ec;
  border: solid 0px;
  border-radius: 3px;
  margin-left: 4%;
}

.address-input {
  width: 55%;
  margin-right: 0%
}

.amount-input {
  width: 20%;
  margin-left: 2%
}

table {
  background-color: #dfdfdf;
}

.address-box-table {
  height: 150px;
  width: 100%;
  margin-top: 5%;
  padding: 2%;
  table-layout: fixed;
  border-collapse: collapse;
}

.address-box-table tbody {
  display: block;
  width: 100%;
  overflow: auto;
  height: 80%;
  font-size: 55%;
}

.address-box-table thead,
tr {
  display: block;
}

.address-box-table thead {
  border: solid 1px #b0b0b0;
  border-radius: 3px;
  font-weight: normal;
}

.address-box-table th,
.address-box-table td {
  padding: 10px;
  text-align: left;
  width: 100%;
}

.box-button {
  text-align: center;
  margin-top: 5%;
  width: 100%;
}

.send-button {
  width: 70%;
  height: 35px;
  background-color: #3898ec;
  border: solid 0px;
  border-radius: 3px;
}

.send-button-loading {
  width: 70%;
  height: 35px;
  color: #3898ec;
  background-color: rgba(56, 152, 236, .15);
  border: solid 0px;
  border-radius: 3px;
}

button {
  color: white;
}

select {
  color: white;
}

button, select {
  width: 40%;
  border-radius: 3px;
  -webkit-transition: all 342ms ease;
  transition: all 342ms ease;
  text-align: center;
}

button:hover {
  background-color: rgba(56, 152, 236, .15);
  color: #3898ec;
}

select:hover {
  background-color: rgba(56, 152, 236, .15);
  color: #3898ec;
}

.tx-hash {
  font-size: 60%;
  margin-top: 5px;
  z-index: 40px;
  width:100%;
  background-color: rgb(101, 153, 101);
  padding: 1%;
  padding-left: 2%;
  color: white;
}
.tx-hash-pretext {
  display: flex;
  flex-wrap: wrap;
  width: 100%
}
.cancel-box {
  margin-left: 15%;
  font-size: 120%;
  text-align: right;
  color: red;
  cursor: pointer;
}

a {
  margin-left:1%;
}

@media screen and (min-width: 451px) {
    .address-box-table tbody {
        font-size: 100%;
      }

      .address-input {
        width: 65%;
        margin-right: 0%;
        font-size: 83%;
      }

      .amount-input {
        width: 10%;
        margin-left: 5%;
        font-size: 80%;
      }

      .add-btn {
        width: 10%;
        height: 35px;
        background-color: #3898ec;
        border: solid 0px;
        border-radius: 3px;
        margin-left: 4%;
      }
      .tx-hash {
        font-size: 90%;
        margin-top: 5px;
        z-index: 40px;
        width:100%;
        background-color: rgb(101, 153, 101);
      }
      .tx-hash-pretext {
        display: flex;
        flex-wrap: wrap;
        width: 100%
      }
      .cancel-box {
        margin-left: 10%;
        text-align: right;
        color: red;
        cursor: pointer;
        font-size: 110%;
      }
  }