input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

input[type="number"] {
  -moz-appearance: textfield;
}

.row {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.main {
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  background-color: #f5f5f5;
}

.header {
  width: 100%;
}

.header-text {
  width: 100%;
  font-weight: bold;
  margin-bottom: 15px;
  margin-top: 20px;
  font-size: 150%;
}

.wallet-box {
  margin: 0 auto;
  background-color: #ffffff;
  border-radius: 4px;
  width: 400px;
  border-top: solid 7px #3898ec;
  box-shadow: 5px 4px 3px 2px rgba(0, 0, 0, 0.076);
  height: 450px;
  padding: 8% 9% 0% 9%;
  padding-top: 2em !important;
}

.form-text {
  font-size: 70%;
  text-align: left;
  font-weight: bolder;
  width: 100%;
  margin-bottom: 1%;
}

.google-sheet-form {
  width: 100%;
  text-align: left;
}

input {
  margin-left: 0px;
  padding-left: 2%;
  width: 60%;
  height: 30px;

  text-align: justify;
  text-justify: inter-word;
  border: solid 1px #cacaca;
}

.form-button {
  width: 30%;
  height: 35px;
  background-color: #3898ec;
  border: solid 0px;
  border-radius: 3px;
  margin-left: 7%;
}

.form-button-loading {
  width: 30%;
  height: 35px;
  color: #3898ec;
  background-color: rgba(56, 152, 236, 0.15);
  border: solid 0px;
  border-radius: 3px;
  margin-left: 7%;
}

.google-form-div {
  width: 100%;
  text-align: left;
}

.token-address-form {
  width: 100%;
}

.token-address-form-div {
  width: 100%;
  margin-top: 7%;
  text-align: left;
}

.token-select {
  width: 30%;
  height: 35px;
  background-color: #3898ec;
  border: solid 0px;
  border-radius: 3px;
  margin-right: 7%;
}

select {
  padding-left: 5px;
}

@media screen and (min-width: 451px) {
  .wallet-box {
    margin: 0 auto;
    background-color: #ffffff;
    border-radius: 4px;
    width: 490px;
    border-top: solid 7px #3898ec;
    box-shadow: 5px 4px 3px 2px rgba(0, 0, 0, 0.076);
    height: 500px;
    padding: 3% 5% 0% 5%;
  }
}
