.btn {
    background-color: #3898ec;
    height: 35px;
    width: 80px;
    text-align: center;
    border-radius: 3px;
}

/*https://loading.io/css/*/
.lds-dual-ring {
  display: inline-block;
  width: 10px;
  height: 10px;
}
.lds-dual-ring:after {
  content: " ";
  display: block;
  width: 8px;
  height: 8px;
  margin: 1px;
  border-radius: 50%;
  border: 2px solid #3898ec;
  border-color: #3898ec transparent #3898ec transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}
@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.in-btn {
  margin-left: 6px;
  padding-bottom: 2px;
}